.dropdown-menu:hover{
 
	display: inline-block;
    
}


li:hover { 
	background-color: #8FBC8F
	
	
	
	 }

.searchField {
	width: 400px;
	margin-right: 20px;
}

.navbar-nav.mr-auto {
	margin-left: 50px;
}

.contentfaq {
	text-align: center;
}
.h1faq {
	margin-bottom: 50px;
	margin-top: 10px;
	color:red;
}